<table border ="1">
	<tr> <th>ID</th> <th>Name</th> <th>Race</th> </tr>
	{{#each characters}}
		<tr> <td>{{this.id}}</td> <td>{{this.name}}</td><td>{{this.race}}</td>
			<td><a href="/characters/{{this.id}}">Посмотреть</a></td> 
			<td><a href="/characters/{{this.id}}/edit">Редактировать</a></td>
			<td><a href="/characters/{{this.id}}/delete">Удалить</a></td>
		</tr>
	{{/each}}
</table>
