id: {{location.id}} </br>
text: {{location.text}} </br>
options: 
{{#each location.options}}
	<tr> 
		<td>{{this.id}}</td>
		<td><a href="/game/campaign/{{../name}}/{{this.id}}">{{this.text}}</a></td>
	</tr>
{{/each}}
