<table border="1">
	<tr>
		<td>Ловкость {{character.agility}}</td> <td>Сила {{character.power}}</td> <td>Обаяние {{character.charm}}</td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">Заклинания</td> <td>Деньги</td>
	</tr>
	<tr><td>Фляга {{character.flask}}</td></tr>
	<tr><td>Меч {{character.sword}}</td></tr>
	<tr>
		<td colspan="3">В заплечном мешке</td>
	</tr>
	<tr>
		<td colspan="3">Информация</td>
	</tr>
	<tr>
		<td colspan="3">Удача</td>
	</tr>
</table>